* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.css-grid .container {
    display: grid;
    gap: 10px;
    background-color: white;
    color: white;
    padding: 10px;
}

.grid-item {
    background-color: #404040;
    text-align: center;
    font-size: 30px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item1 img {
    width: 200px;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
    padding: 100px 0px;
}

.item3 {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 img {
    width: 300px;
}

.item4 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item4 p {
    margin-top: 20px;
    width: 80%;
}

.item5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    padding: 110px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid red;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ring:nth-child(1) {
    animation: animate2 4s linear infinite;
}

.ring:nth-child(3) {
    animation: animate2 4s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: red;
    box-shadow: 0 0 0 5px red,
    0 0 0 10px white,
    0 0 0 20px black;
}

.item6 {
    grid-column: 3;
    grid-row: 3 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6 img {
    width: 300px;
}

.item7 {
    grid-column: 4;
    grid-row: 3 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item7 img {
    width: 300px;
}